{# src\Serialken\BlogBundle\Resources\views\Blog #}

{% extends "SerialkenBlogBundle::layout.html.twig" %}

{% block title %}
  Ajouter un commentaire - {{ parent() }}
{% endblock %}

{% block serialken_body %}
    
    <h2>Ajouter un commentaire</h2>
    
    {% include "SerialkenBlogBundle:Blog:article.html.twig"   %}
    
    {% include "SerialkenBlogBundle:Blog:formulaire.html.twig" %}
     
{% endblock %}