{# src\Serialken\BlogBundle\Resources\views\Blog #}

{% extends "SerialkenBlogBundle::layout.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block serialken_body %}

   <h2>Modifier un article</h2>
   
   {% include "SerialkenBlogBundle:Blog:formulaire.html.twig"  with {'sujet': 'de modification'}%}
   
   <p>
     Vous éditez un article deja existant,
	 ne le changez pas trop pour éviter aux membres de ne pas comprendre
	 ce qui se passe.
   </p>
   
   <p>
     <a href="{{ path('serialkenblog_voir', {'id': article.id}) }}" class="btn">
	   <i class="icon-chevron-left"></i>
	   Retour à l'article
	 </a>
   </p>
   
{% endblock %}